*{
    padding:0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.button{
    padding: 10px 15px;
    background-color: #E28525;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
}

#sedan{
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
}

#suvs{
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    color: white;
}

#luxury{
    background-color: #00403F;
    color: white;
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 30px;
    padding-right: 40px;
}

#index{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
